nav {
    background-color: #c9c9c9;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

ul {
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style: none;

}

.desplazado {
    margin-left: 50px;
}

.desplazado-abajo {
    margin-top: 20px;
}