.picture-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    width: 30%;
}

.picture-container img {
    width: 100%;
    height: auto;
}

.picture-container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 15px;
    grid-template-areas:
        "item1 item1 item2 item3 item3"
        "item4 item5 item5 item3 item3";
    width: 50%;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-style: solid;
    background-color: brown;

}


.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}